<div class="container-fluid">
    <div class="container-fluid ">
      <div class="container ">
          <div class="row " >
              <div class="col-md-7 d-flex justify-content-center m-4">
                <form>
                    <div class="form-group mt-2">
                      <input type="text" class="form-control"  placeholder="name">
                    </div>
                    <div class="form-group mt-2">
                      <input type="text" class="form-control"  placeholder="ID number">
                    </div>
                    <div class="form-group info-inputs mt-2">
                        <input type="text" class=" col-md-7  "  placeholder="Age" >
                        <input type="text" class=" col-md-5"  placeholder="Weight">
                      </div>
                      <div class="form-group mt-2">
                        <input type="number" class="form-control"  placeholder="Gender">
                      </div>
                      <div class="form-group mt-2">
                        <input type="text" class="form-control"  placeholder="Blood type">
                      </div>
                      <div class="form-group mt-2">
                        <input type="text" class="form-control"  placeholder="Last donation date">
                      </div>
                      <div class="form-group info-inputs mt-2">
                        <input type="text" class=" col-md-7  "  placeholder="Governorate" >
                        <input type="text" class=" col-md-5"  placeholder="City">
                      </div>
                      <div class="form-group mt-2">
                        <input type="text" class="form-control"  placeholder="Phone">
                      </div>
                      <div class="form-group mt-2">
                        <input type="email" class="form-control"  placeholder="Email">
                      </div>



                    <div class="form-group password-input mt-2">
                        <input type="password" class="form-control" id="password" placeholder="Password">
                        <span class="toggle-password" ><i class="fas fa-eye"></i></span>
                      </div>
                      
                     
                       
                  </form>
                        </div>
              <div class="col right-side">
                <div class="content-right">
                    <div class="text-center" >
                        <button class="signUp "  type="button">Sign Up</button>
                       </div>
                       <div class="text-center mt-2" >
                        <button class="found-acc" routerLink="/login" type="button">Alread have an account</button>
                       </div>
                </div>
               </div>
  
          </div>
              
      </div>
  </div>
  </div>