.found-acc{
    width: 256px;
    height: 49px;
    background-color: white;
    color: #E02544;
    border: none;
    border-radius: 20px;
    font-size:20px;
    padding: 10px;

}

.home-content{
    background-color: #E02544;
    height: 590px;
}

.card-text{
    font-size: 20px;
    line-height: 20px;
}
.paragraph ul {
    list-style-type: disc; /* Use 'circle' or 'square' for different bullet styles */
    padding-left: 20px; /* Adjust the indentation of the bullet points */
    font-size: 20px;
    font-weight: bold;
    line-height: 40px;
  }

  .title{
    font-size: 22px;
    font-weight: bold;
  }