<div class="container-fluid">
    <div class="container-fluid ">
      <div class="container ">
          <div class="row " style="height: 500px;">
              <div class="col"></div>
              <div class="col-md-6 d-flex justify-content-center">
                <form>
                    <div class="form-group mt-5">
                      <input type="email" class="form-control"  placeholder="Email address or phone number">
                    </div>
                    <div class="form-group password-input mt-2">
                        <input type="password" class="form-control" id="password" placeholder="Password">
                        <span class="toggle-password" ><i class="fas fa-eye"></i></span>
                      </div>
                      <div class="form-group mt-2">
                        <input type="text" class="form-control"  placeholder="ID number">
                      </div>
                      <div class=" mt-2">
                        <button class="button-control" type="button">Login</button>
                      </div>
                      
                       <div class="text-center text-white mt-2 " style="fontSize:20px">
                        <span>Forgotten Password?</span>
                       </div>
                       <div class="text-center mt-2 " >
                        <button class="signUp mt-5" routerLink="/register"  style="fontSize:20px" (onclick)="navigateToRegister()"  type="button">Create a new account</button>
                       </div>
                  </form>
                    </div>
              <div class="col"></div>
  
          </div>
              
      </div>
  </div>
  </div>